
<main class="page">
  <section class="contact">
   
    <div class="container" style="padding-bottom: 40px;">
      <div>
        <h2 style="padding-bottom: 20px;">Lista de empleados</h2>
      </div>
      <form action="">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Nombres y Apellidos</span>
          </div>
          <input type="text" aria-label="nombre" class="form-control" placeholder="Nombre" name="name" id="name">
          <input type="text" aria-label="apellido" class="form-control" placeholder="Apellido" name="apellido" id="apellido">
          
          <div class="button">
              <button type="submit" class="btn btn-warning">Buscar</button>
          </div>
          
        </div>
      </form>
    </div>
    <div class="container">
      <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width: 6%;">#</th>
          <th scope="col" style="width: 43%;">Nombres</th>
          <th scope="col" style="width: 43%;">Apellidos</th>
          <th scope="col" style="width: 10%;">Accion</th>
        </tr>
      </thead>
      <tbody>
        {{#each list}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>
              {{this.nombres}}
            </td>
            <td>
              {{this.apellidos}}
            </td>
            <td>
              <div class="d-flex justify-content-center">
                  <a class="button btn btn-outline-success" href="/{{this.id}}" style="border: 0px; padding-top: 0px; padding-left: 6px; padding-right: 6px; padding-bottom: 6px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                  </a>

                  <a class="button btn btn-outline-danger" href="/delete/{{this.id}}" onclick="return confirm('¿Estas seguro de eliminar a este empleado?');" style="border: 0px; padding-top: 0px; padding-left: 6px; padding-right: 6px; padding-bottom: 6px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                  </a>

              </div>
            </td>
          </tr>
        {{/each}}

      </tbody>
    </table>

    </div>

  </section>
</main>