<div class="entry">
<main class="page">
  <section class="contact">
    <h2>Actualizar Empleado</h2>
    <h3>Datos personales</h3>
    {{#each data}} 
    <form action="/empleados/update" method="POST">

      <div class="completeDoubleInputLine">
        <div class="form-grupo dobleInput">
          <label for="name">Nombre</label>
          <input type="text" name="name" id="name" value="{{{this.nombre}}}" required />
        </div>

        <div class="form-grupo dobleInput">
          <label for="apellido">Apellido</label>
          <input type="text" name="apellido" id="apellido" value="{{{this.apellido}}}" required />
        </div>
      </div>

      <div class="completeDoubleInputLine">
        <div class="form-grupo dobleInput">
          <label for="identificacion">Identificación</label>
          <input type="text" name="identificacion" id="identificacion" value="{{{this.id_empleado}}}" required />
        </div>

        <div class="form-grupo dobleInput">
          <label for="birthday">Fecha de nacimiento</label>
          <input type="date" name="birthday" id="birthday" value="{{{this.fecha_nacimiento}}}" required />
        </div>
      </div>

      <div class="form-grupo">
        <label for="direccion">Dirección</label>
        <input type="text" name="direction" id="direction" value="{{{this.direccion}}}" required />
      </div>

      <div class="completeDoubleInputLine">
        <div class="form-grupo dobleInput">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" value="{{{this.email}}}" required />
        </div>
        <div class="form-grupo dobleInput">
          <label for="phone">Teléfono</label>
          <input type="tel" name="phone" id="phone" value="{{{this.telefono}}}" required />
        </div>
      </div>

      <h3>Datos de ingreso</h3>

       <div class="form-grupo">
        <label for="cargo">Cargo</label>
        <input type="text" name="cargo" id="cargo" value="{{{this.cargo}}}" required />
      </div>

      <div class="completeDoubleInputLine">
        <div class="form-grupo dobleInput">
          <label for="departament">Departamento</label>
          <input type="text" name="departament" id="departament" value="{{{this.departamento}}}" required />
        </div>

        <div class="form-grupo dobleInput">
          <label for="project">Proyecto</label>
          <input type="text" name="project" id="project" value="{{{this.proyecto}}}" required />
        </div>
      </div>
      <div class="completeDoubleInputLine">
        <div class="form-grupo dobleInput">
          <label for="ingreso">Fecha de ingreso</label>
          <input type="date" name="ingreso" id="ingreso" value="{{{this.fecha_ingreso}}}" required />
        </div>

        <div class="form-grupo dobleInput">
          <label for="sueldo">Sueldo</label>
          <input type="text" name="sueldo" id="sueldo" value="{{{this.sueldo}}}" required />
        </div>
      </div>
      <div class="button">
        <button type="submit">Guardar Cambios</button>
      </div>
    
    </form>
  </section>
</main>
{{/each}}
</div>