<main class="page">
    <div class="container_acerca">
        <div class="section-headline text-center">
            <h2>Nuestro equipo</h2>
        </div>
        
        <div class="d-flex justify-content-center">
            <section class="section-c">
                    {{#each colaboradores}}
                        <img src="{{this.imagen}}" alt="image" title="{{this.nombres}}" class="my-image" onclick="colaborado({{id}},'{{nombres}}','{{cargo}}','{{descripcion}}','{{contacto.email}}','{{contacto.linkedin}}')">
                    {{/each}}
            </section>

        </div>
        <div id="descipcion" class="border-info rounded section-title py-4" >
        </div>
    </div>
</main>