
 <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div id="carousel-inner" class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/img/1.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">SU SOLUCIÓN INTEGRAL DE GESTIÓN DE EMPLEADOS </h2>
                <p class="animate__animated animate__fadeInUp">Simplificamos la gestión de empleados para que su empresa prospere</p>
                <a href="/empleados/lista" class="btn-get-started scrollto animate__animated animate__fadeInUp">Comenzar</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(/img/2.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">SEGUIMIENTO SEGURO Y EFICAZ DE LOS PROYECTOS DE LOS EMPLEADOS</h2>
                <p class="animate__animated animate__fadeInUp">Maximice el éxito de su negocio con nuestra herramienta de gestión de proyectos de empleados</p>
                <a href="/empleados/lista" class="btn-get-started scrollto animate__animated animate__fadeInUp">Comenzar</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(/img/3.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">OPTIMICE LA PRODUCTIVIDAD DE SUS EMPLEADOS Y LA GESTIÓN DE SUS PROYECTOS</h2>
                <p class="animate__animated animate__fadeInUp">Agilice las operaciones de su empresa con nuestro sistema de seguimiento de empleados y proyectos</p>
                <a href="/empleados/lista" class="btn-get-started scrollto animate__animated animate__fadeInUp">Comenzar</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" onclick="cambiarFondo(0)" data-bs-slide="prev">
          <span class="fa-solid fa-chevron-left bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" onclick="cambiarFondo(1)" data-bs-slide="next">
          <span class="fa-solid fa-chevron-right bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero Section -->
    <!-- ======= Services Section ======= -->
  <div id="services" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Tecnologias</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                    <div style="height: 165px;" class="d-flex justify-content-center align-items-center">
                        <a class="services-icon" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank" width="200" height="165">
                            {{!-- <i class="bi bi-briefcase"></i> --}}
                            {{!-- <i class="fa-brands fa-bootstrap"></i> --}}
                            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" width="200" height="165" alt="Bootstrap">
                        </a>
                    </div>
                  
                  <h4>Bootstrap</h4>
                  <p>
                    Bootstrap es un conjunto de herramientas para FrontEnd potente, extensible y repleto de funciones. Construya y personalice con Sass, utilice componentes y sistemas de cuadrícula predefinidos y dé vida a los proyectos con potentes plugins JavaScript.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                    <div style="height: 165px;" class="d-flex justify-content-center align-items-center">
                        <a class="services-icon" href="https://handlebarsjs.com" target="_blank" width="200" height="165">
                        {{!-- <i class="bi bi-card-checklist"></i> --}}
                        <img src="https://handlebarsjs.com/images/handlebars_logo.png" width="200" height="165" alt="Bootstrap">
                        </a>
                    </div>

                  <h4>Handlebars</h4>
                  <p>
                    Handlebars es una biblioteca de JavaScript para crear plantillas HTML dinámicas y reutilizables en aplicaciones web. Utiliza una sintaxis de doble llave y es compatible con Mustache. Handlebars permite generar HTML a partir de objetos con datos en formato JSON, lo que facilita la creación y formateo de código HTML
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                    <div style="height: 165px;" class="d-flex justify-content-center align-items-center">
                        <a class="services-icon" href="https://www.npmjs.com/package/mysql2" target="_blank" >
                            {{!-- <i class="bi bi-bar-chart"></i> --}}
                            <img src="https://www.vectorlogo.zone/logos/mysql/mysql-official.svg" width="200" height="165" alt="Bootstrap">
                            
                        </a>
                    </div>

                  <h4>MySQL</h4>
                  <p>
                    MySQL es un sistema de gestión de bases de datos relacional desarrollado bajo licencia dual: Licencia pública general/Licencia comercial por Oracle Corporation
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
      </div><!-- End Services Section -->
    </div>
  </div>
    <!-- ======= Team Section ======= -->
  <div id="team" class="our-team-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Nuestro equipo</h2>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
          <section class="section-c ">
              {{#each colaboradores}}
                <img src="{{this.imagen}}" alt="image" title="{{this.nombres}}" class="my-image" onclick="colaborado({{id}},'{{nombres}}','{{cargo}}','{{descripcion}}','{{contacto.email}}','{{contacto.telefono}}','{{contacto.linkedin}}')">
              {{/each}}
          </section>

      </div>
      <div id="descipcion" class="border-info section-title py-4" >
      </div>

    </div>
        

  </div><!-- End Team Section -->